.contact-block {
    position: relative;
    top: 114px;
    width: 100%;
}

.contact-text {
    position: absolute;
    font-family: 'Montserrat';
    color: white;
    top: 150px;
    left: 200px;
}

.contact-header {
    font-size: 68px;
    color: #00bf55;
    font-weight: bold;
}

.contact-info {
    font-size: 42px;
    font-weight: bold;
}

.mail {
    font-size: 24px;
    font-weight: 200px;
}

.form-contact {
    position: absolute;
    left: 1070px;
    top: 3955px;
    color: white;
    font-family: 'Montserrat';
    font-weight: bolder;
}

.button-contact{
    background-color: #00bf55;
    border: none;
}
