.about-background {
  background-image: url(../../public/img/sfondo_sito_1.jpg);
  padding: 35px 50px 0px 0px;
  background-size: contain;
  background-size: cover;
}

.about-text {
  padding: 140px 200px 100px 136px;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(17px + 0.390625vw);
  color: white;
} 
@media(max-width:768px) {
  .about-text {
    padding: 200px 10px 105px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(17px + 0.390625vw);
    color: white;
  } 
  .about-history {
    padding: 0px;
  }
}
@media(min-width:768px) and (max-width:992px) {
  .about-text {
    padding: 200px 10px 105px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(17px + 0.390625vw);
    color: white;
  } 
}
@media(min-width:992px) and (max-width:1200px) {
  .about-text {
    padding: 200px 10px 105px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(17px + 0.390625vw);
    color: white;
  } 
}

@media(min-width:1200px) and (max-width:1500px) {
  .about-text {
    padding: 200px 10px 105px 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(17px + 0.390625vw);
    color: white;
  } 
}

@media(min-width:1500px) and (max-width:1800px) {
  .about-text {
    padding: 200px 10px 105px 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(17px + 0.390625vw);
    color: white;
  } 
}

.about-header {
  font-weight: bold;
  color: #00bf55;
  font-size: calc(40px + 0.390625vw);
  }
.mb-esports {
  color: #00bf55;
  font-weight: bold;
  font-size: calc(21px + 0.390625vw);
}

.mb-esports {
  color: #00bf55;
  font-weight: bold;
  font-size: calc(21px + 0.390625vw);
}

.fifa-23 {
  color: #00bf55;
  font-weight: bold;  
  font-size: calc(21px + 0.390625vw);
}

.rocket-league {
  color: #00bf55;
  font-weight: bold;
  font-size: calc(21px + 0.390625vw);
}

