.team-block {
    position: relative;
}

.teams-text {
  position: absolute;
  color: white;
  top: 2500px;
  bottom: 100px;
  text-align: center;
}

.teams-header {
    color: blue;
    font-size: 40px;
}

